<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EzLibros</title>
</head>
<body>
   <h1>Pagina de Inicio</h1>
   <% if (login) { %>
    <h1>Usuario conectado: <strong> <%= name %></strong></h1>
    <a href="logout" class="a-logout">Cerrar Sesion</a>
    <%}else{ %>
        <a href="login" class="a-login">Iniciar Sesion</a>
    <% } %>
</body>
</html>
