<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EzLibros</title>
</head>
<body>
    <h1>P치gina de Inicio</h1>
    <% if (login) { %>
        <h1>Usuario conectado: <strong><%= name %></strong></h1>
        <a href="logout" class="a-logout">Cerrar Sesi칩n</a>
    <% } else { %>
        <a href="login" class="a-login">Iniciar Sesi칩n</a>
    <% } %>

    <h2>Libros Destacados</h2>
    <ul>
        <% for (let i = 0; i < featuredBooks.length; i++) { %>
            <li>
                <a href="/product/<%= featuredBooks[i].libro_id %>"><%= featuredBooks[i].titulo %></a>
            </li>
        <% } %>
    </ul>

    <a href="/search" class="a-search">Buscar m치s libros</a>
</body>
</html>
