<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EzLibros</title>
</head>
<body>
    <h1>Página de Inicio</h1>
    <% if (login) { %>
        <h1>Usuario conectado: <strong><%= name %></strong></h1>
        <a href="logout" class="a-logout">Cerrar Sesión</a>
    <% } else { %>
        <a href="login" class="a-login">Iniciar Sesión</a>
    <% } %>

    <h2>Libros Destacados</h2>
    <ul>
        <% for (let i = 0; i < featuredBooks.length; i++) { %>
            <li>
                <a href="/product/<%= featuredBooks[i].libro_id %>"><%= featuredBooks[i].titulo %></a>
            </li>
        <% } %>
    </ul>

    <a href="/search" class="a-search">Buscar más libros</a>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Amazon</title>

    <!-- CSS -->
    <link rel="shortcut icon" type="image/icon" href="resources/styles/images/favicon.ico"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="resources/styles/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/styles/css/slick.css" rel="stylesheet">
    <link id="switcher" href="resources/styles/css/theme-color/default-theme.css" rel="stylesheet">
    <link href="resources/styles/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- FIN CSS -->

  </head>
  <body>

    <!-- INICIO CABECERA -->
    <header id="mu-header" class="" role="banner">
        <div class="container">
            <nav class="navbar navbar-default mu-navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <!-- TEXTO DEL LOGO -->
                      <a class="navbar-brand" href="index.html"><i class="fa fa-book" aria-hidden="true"></i>Kindle</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav mu-menu navbar-right">
                            <li><a href="#">INICIO</a></li>
                            <li><a href="#mu-pricing">TIENDA</a></li>
                            <li><a href="#mu-contact">CONTACTO</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- FIN CABECERA -->

    <!-- INICIO SLIDDER -->

    <section id="mu-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-sm-push-6">
                    <div class="mu-hero-right">
                        <img src="resources/styles/images/kindle.png" alt="Ebook img" width="400px">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-sm-pull-6">
                    <div class="mu-hero-left">
                        <h1>El lugar perfecto para comprar tus libros</h1>
                        <p>"En nuestra librería, la pasión por la lectura es palpable. Cada libro que ofrecemos es una puerta a un mundo de conocimiento y reflexión. Nuestro compromiso es conectar a los amantes de la literatura con obras de calidad que enriquezcan sus vidas. Explora nuestras estanterías y descubre una cuidadosa selección de títulos que abarcan desde la filosofía más profunda hasta la historia más fascinante. Bienvenido a un refugio para mentes curiosas, donde el poder de las palabras se despliega con solemnidad y respeto."</p>
                        <a href="#mu-pricing" class="mu-primary-btn">Comprar</a>
                        <span>Envíos a toda la República Mexicana!!</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FIN SLIDDER -->

    <!-- PRODUCTOS -->
    <section id="mu-pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-pricing-area">

                        <div class="mu-heading-area">
                            <h2 class="mu-heading-title">Libros</h2>
                            <span class="mu-header-dot"></span>
                            <p></p>
                        </div>

                        <!-- CONTENIDO -->
                        <div class="mu-pricing-content">
                            <div class="row">

          <!-- CONTENEDOR BLANCO -->
          <div class="col-sm-6 col-md-4">
            <div class="mu-pricing-single">
                <!-- IMAGEN DEL LIBRO -->
                <div class="mu-book-image">
                  <img src="resources/styles/images/principito.JPG" alt="Imagen del Libro" style="width: 120px;">
              </div>                  
                <div class="mu-pricing-single-head">
                    <h4></h4>
                    <br><h4>El Principito</h4>
                    <p class="mu-price-tag">
                        <span>$</span> 200
                    </p>
                </div>

                <ul class="mu-price-feature">
                    <li> Libro - El Principito </li>
                </ul>

                <div class="mu-pricing-single-footer">
                    <a href="#" class="mu-order-btn">Comprar</a>
                </div>
            </div>
          </div>
          <!-- /FIN CONTENEDOR BLANCO -->

          <!-- CONTENEDOR BLANCO -->
          <div class="col-sm-6 col-md-4">
            <div class="mu-pricing-single">
                <!-- IMAGEN DEL LIBRO -->
                <div class="mu-book-image">
                  <img src="resources/styles/images/9HabitosJaponeses.JPG" alt="Imagen del Libro" style="width: 120px;">
              </div>                  
                <div class="mu-pricing-single-head">
                    <h4></h4>
                    <br><h4>9 Habitos Japoneses</h4>
                    <p class="mu-price-tag">
                        <span>$</span> 200
                    </p>
                </div>

                <ul class="mu-price-feature">
                    <li> Libro - 9 Habitos Japoneses </li>
                </ul>

                <div class="mu-pricing-single-footer">
                    <a href="#" class="mu-order-btn">Comprar</a>
                </div>
            </div>
          </div>
          <!-- /FIN CONTENEDOR BLANCO -->

                    <!-- CONTENEDOR BLANCO -->
                    <div class="col-sm-6 col-md-4">
                        <div class="mu-pricing-single">
                            <!-- IMAGEN DEL LIBRO -->
                            <div class="mu-book-image">
                            <img src="resources/styles/images/El arte de la Guerra.JPG" alt="Imagen del Libro" style="width: 120px;">
                        </div>                  
                            <div class="mu-pricing-single-head">
                                <h4></h4>
                                <br><h4>El Arte de la Guerra</h4>
                                <p class="mu-price-tag">
                                    <span>$</span> 200
                                </p>
                            </div>

                            <ul class="mu-price-feature">
                                <li> Libro - El Arte de la Guerra </li>
                            </ul>

                            <div class="mu-pricing-single-footer">
                                <a href="#" class="mu-order-btn">Comprar</a>
                            </div>
                        </div>
                    </div>
                    <!-- /FIN CONTENEDOR BLANCO -->
                            </div>
                        </div>
                    <!-- FIN COLUMNA -->

                    <!-- CONTENIDO -->
                    <div class="mu-pricing-content">
                    <div class="row">

          <!-- CONTENEDOR BLANCO -->
          <div class="col-sm-6 col-md-4">
            <div class="mu-pricing-single">
                <!-- IMAGEN DEL LIBRO -->
                <div class="mu-book-image">
                  <img src="resources/styles/images/La armadura de la luz.JPG" alt="Imagen del Libro" style="width: 120px;">
              </div>                  
                <div class="mu-pricing-single-head">
                    <h4></h4>
                    <br><h4>La Armadura de la Luz</h4>
                    <p class="mu-price-tag">
                        <span>$</span> 200
                    </p>
                </div>

                <ul class="mu-price-feature">
                    <li> Libro - La Armadura de la Luz </li>
                </ul>

                <div class="mu-pricing-single-footer">
                    <a href="#" class="mu-order-btn">Comprar</a>
                </div>
            </div>
          </div>
          <!-- /FIN CONTENEDOR BLANCO -->

          <!-- CONTENEDOR BLANCO -->
          <div class="col-sm-6 col-md-4">
            <div class="mu-pricing-single">
                <!-- IMAGEN DEL LIBRO -->
                <div class="mu-book-image">
                  <img src="resources/styles/images/Harry Potter.JPG" alt="Imagen del Libro" style="width: 120px;">
              </div>                  
                <div class="mu-pricing-single-head">
                    <h4></h4>
                    <br><h4>Harry Potter</h4>
                    <p class="mu-price-tag">
                        <span>$</span> 200
                    </p>
                </div>

                <ul class="mu-price-feature">
                    <li> Libro - Harry Potter </li>
                </ul>

                <div class="mu-pricing-single-footer">
                    <a href="#" class="mu-order-btn">Comprar</a>
                </div>
            </div>
          </div>
          <!-- /FIN CONTENEDOR BLANCO -->

                    <!-- CONTENEDOR BLANCO -->
                    <div class="col-sm-6 col-md-4">
                        <div class="mu-pricing-single">
                            <!-- IMAGEN DEL LIBRO -->
                            <div class="mu-book-image">
                            <img src="resources/styles/images/Holly.JPG" alt="Imagen del Libro" style="width: 120px;">
                        </div>                  
                            <div class="mu-pricing-single-head">
                                <h4></h4>
                                <br><h4>Holly</h4>
                                <p class="mu-price-tag">
                                    <span>$</span> 200
                                </p>
                            </div>

                            <ul class="mu-price-feature">
                                <li> Libro - Holly </li>
                            </ul>

                            <div class="mu-pricing-single-footer">
                                <a href="#" class="mu-order-btn">Comprar</a>
                            </div>
                        </div>
                    </div>
                    <!-- /FIN CONTENEDOR BLANCO -->
                            </div>
                        </div>
                    <!-- FIN COLUMNA -->

                    <!-- CONTENIDO -->
                    <div class="mu-pricing-content">
                    <div class="row">

          <!-- CONTENEDOR BLANCO -->
          <div class="col-sm-6 col-md-4">
            <div class="mu-pricing-single">
                <!-- IMAGEN DEL LIBRO -->
                <div class="mu-book-image">
                  <img src="resources/styles/images/Alas de Sangre.JPG" alt="Imagen del Libro" style="width: 120px;">
              </div>                  
                <div class="mu-pricing-single-head">
                    <h4></h4>
                    <br><h4>Alas de Sangre</h4>
                    <p class="mu-price-tag">
                        <span>$</span> 200
                    </p>
                </div>

                <ul class="mu-price-feature">
                    <li> Libro - Alas de Sangre </li>
                </ul>

                <div class="mu-pricing-single-footer">
                    <a href="#" class="mu-order-btn">Comprar</a>
                </div>
            </div>
          </div>
          <!-- /FIN CONTENEDOR BLANCO -->

          <!-- CONTENEDOR BLANCO -->
          <div class="col-sm-6 col-md-4">
            <div class="mu-pricing-single">
                <!-- IMAGEN DEL LIBRO -->
                <div class="mu-book-image">
                  <img src="resources/styles/images/Atomic Habits.JPG" alt="Imagen del Libro" style="width: 120px;">
              </div>                  
                <div class="mu-pricing-single-head">
                    <h4></h4>
                    <br><h4>Atomic Habits</h4>
                    <p class="mu-price-tag">
                        <span>$</span> 200
                    </p>
                </div>

                <ul class="mu-price-feature">
                    <li> Libro - Atomic Habits </li>
                </ul>

                <div class="mu-pricing-single-footer">
                    <a href="#" class="mu-order-btn">Comprar</a>
                </div>
            </div>
          </div>
          <!-- /FIN CONTENEDOR BLANCO -->

                    <!-- CONTENEDOR BLANCO -->
                    <div class="col-sm-6 col-md-4">
                        <div class="mu-pricing-single">
                            <!-- IMAGEN DEL LIBRO -->
                            <div class="mu-book-image">
                            <img src="resources/styles/images/Volver a empezar.JPG" alt="Imagen del Libro" style="width: 120px;">
                        </div>                  
                            <div class="mu-pricing-single-head">
                                <h4></h4>
                                <br><h4>Volver a Empezar</h4>
                                <p class="mu-price-tag">
                                    <span>$</span> 200
                                </p>
                            </div>

                            <ul class="mu-price-feature">
                                <li> Libro - Volver a Empezar </li>
                            </ul>

                            <div class="mu-pricing-single-footer">
                                <a href="#" class="mu-order-btn">Comprar</a>
                            </div>
                        </div>
                    </div>
                    <!-- /FIN CONTENEDOR BLANCO -->
                            </div>
                        </div>
                    <!-- FIN COLUMNA -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FIN CONTENEDOR -->

    <!-- INICIO DEL VIDEO -->
    <section id="mu-video-review">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-video-review-area">

                        <div class="mu-heading-area">
                            <h2 class="mu-heading-title">Da un vistazo a nuestro video</h2>
                            <span class="mu-header-dot"></span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                        </div>

                        <!-- VIDEO -->
                        <div class="mu-video-review-content">
                            <iframe class="mu-video-iframe" width="100%" height="480" src="resources/styles/Polar_Bear.mp4" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <!-- CONTENEDOR VIDEO -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FIN DEL VIDEO -->

    <!-- CONTACTO -->
    <section id="mu-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-contact-area">

                        <div class="mu-heading-area">
                            <h2 class="mu-heading-title">Contacto</h2>
                            <span class="mu-header-dot"></span>
                            <p>Tienes alguna duda sobre nuestro servicio o nuestros productos, escribenos y con gusto te ayudaremos</p>
                        </div>

                        <!-- INICIO CONTENIDO CONTACTO -->
                        <div class="mu-contact-content">

                            <div id="form-messages"></div>
                            <form id="ajax-contact" method="post" action="#" class="mu-contact-form">
                                <div class="form-group">                
                                    <input type="text" class="form-control" placeholder="Nombre" id="name" name="name" required>
                                </div>
                                <div class="form-group">                
                                    <input type="email" class="form-control" placeholder="Correo" id="email" name="email" required>
                                </div>              
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Mensaje" id="message" name="message" required></textarea>
                                </div>
                                <button type="submit" class="mu-send-msg-btn"><span>Enviar</span></button>
                            </form>

                        </div>
                        <!-- FIN CONTACTO CONTENIDO-->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FIN CONTACTO -->

    <!-- GOOGLE MAPS -->
    <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=CUCEI+(CUCEI)&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/car-satnav-gps/">GPS devices</a></iframe></div>
    <!-- FIN GOOGLE MAPS -->

</main>
<!-- FIN DEL CONTENIDO PRINCIPAL-->				
<!-- INICIO PIE DE PAGINA -->
<footer id="mu-footer" role="contentinfo">
    <div class="container">
        <div class="mu-footer-area">
            <div class="mu-social-media">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <p class="mu-copyright">&copy; Copyright <a rel="nofollow" href="#">ZUCARITAS</a> Todos los derechos reservados</p>
        </div>
    </div>

</footer>
<!-- FIN PIE DE PAGINA -->

</body>
</html>