<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/styles/style.css">
    <title>Inicio de Sesión</title>
</head>
<body>
    <div class="login-form">
        <h2>Iniciar Sesión</h2>
        <form action="auth" method="POST">
            <input type="text" name="user" placeholder="User" required>
            <input type="password" name="pass" placeholder="Password" required>
            <input type="submit" class="button-login" value="Login">
        </form>
        <a href="register" class="button-register">Registrarse</a>
    </div>
</body>
</html>
