<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="resources/styles/style.css">
    <title>Registro</title>
</head>
<body>
    <div class="register-form">
        <h1>Registro de Usuario</h1>
        <form action="register" method="POST">
            <label for = "name">Nombres</label>
            <input type="text" name="name" required>

            <label for="last_name">Apellidos</label>
            <input type="text" name="last_name" required>

            <label for="email">Correo Electronico</label>
            <input type="text" name="email" required>

            <label for="tel">Telefono</label>
            <input type="text" name="tel" required>

            <label for="pass">Contraseña</label>
            <input type="password" name="pass" required>

            <div style="display: inline;">
                <a href="/" class="button-cancel">Cancelar</a><input type="submit" class="button-save" value="save">
            </div>
        </form>
    </div>
</body>
</html>